<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PIZZA</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Przygotuj własną pizze</h1>
<img th:src="@{/images/pizza.png}">

<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Wyloguj się"/>
</form>

<form method="POST" th:object="${design}">

      <span class="validationError"
            th:if="${#fields.hasErrors('ingredients')}"
            th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
        <div class="ingredient-group" id="doughs">
            <h3>Wybierz rodzaj ciasta</h3>
            <div th:each="ingredient : ${dough}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="proteins">
            <h3>Wybierz rodzaj mięsa</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="veggies">
            <h3>Wybierz warzywa</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>

        <div class="ingredient-group" id="sauces">
            <h3>Wybierz sos</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span><br/>
            </div>
        </div>
    </div>

    <div>
        <h3>Nadaj nazwę przygotowywanej pizzy:</h3>
        <input type="text" th:field="*{pizzaName}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('pizzaName')}"
              th:errors="*{pizzaName}">Nazwa musi mieć przynajmniej trzy znaki</span>
        <br/>

        <button>Wyślij swoje zamówienie</button>
    </div>
</form>
</body>
</html>