<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PIZZA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>
<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">

        <a href="http://localhost:8081/" class="navbar-brand"><h3>pizza.pl</h3></a>

        <form class="navbar-brand" method="POST" th:action="@{/logout}" id="logoutForm">
            <input type="submit" value="Wyloguj"/>
        </form>


    </div>
</nav>
<div class="container card mt-5 py-2">

    <form method="POST" th:action="@{/orders}" th:object="${order}"     id="orderForm">
        <div class="form-row">
            <div class="form-group col-12 ">
                <h4>Zamów przygotowaną pizzę!</h4>
                <h6>Twoja pizza w tym zamówieniu:</h6>
                <a th:href="@{/design}" id="another">Skomponuj i dodaj kolejną pizzę</a><br/>
                <ul>
                    <li th:each="pizza : ${order.pizzas}"><span th:text="${pizza.pizzaName}">nazwa pizzy</span></li>
                </ul>

                <div th:if="${#fields.hasErrors()}"     class="alert alert-primary" role="alert">
                    <span class="validationError">Usuń wymienione problemy i spróbuj ponownie</span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <h4> Adres dostarczenia pizzy:</h4>
                <label for="name">Imię i nazwisko: </label>
                <input type="text" th:field="*{name}" class="form-control"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Nie podano imienia i nazwiska</span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <label for="street">Ulica: </label>
                <input type="text" th:field="*{street}" class="form-control"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('street')}"
                      th:errors="*{street}">Nie podano ulicy</span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-8">
                <label for="city">Miejscowość: </label>
                <input type="text" th:field="*{city}" class="form-control"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('city')}"
                      th:errors="*{city}">Nie podano nazwy miejscowości</span>
            </div>

            <div class="form-group col-4">
                <label for="zip">Kod pocztowy: </label>
                <input type="text" th:field="*{zip}" class="form-control"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('zip')}"
                      th:errors="*{zip}">Nie podano kodu pocztowego</span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <h4>Sposób płatności: </h4>
                <label for="ccNumber">Numer karty kredytowej:</label>
                <input type="text" th:field="*{ccNumber}" class="form-control"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccNumber')}"
                      th:errors="*{ccNumber}">Błąd numeru karty kredytowej</span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-6">
                <label for="ccExpiration">Data ważności:</label>
                <input type="text" th:field="*{ccExpiration}" class="form-control"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccExpiration')}"
                      th:errors="*{ccExpiration}">Nie podano daty ważności karty</span>
            </div>

            <div class="form-group col-6">
                <label for="ccCVV">Kod CVV:</label>
                <input type="text" th:field="*{ccCVV}" class="form-control"/>
                <span class="validationError"
                      th:if="${#fields.hasErrors('ccCVV')}"
                      th:errors="*{ccCVV}">Nie podano kodu ccCVV</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" value="Złóż zamówienie" >&nbsp; Złóż zamówienie &nbsp;</button>
    </form>
</div>

<footer class="footer">
    <div class="container text-right">

        <p class="navbar-text">pizza.pl - developed by <a href="http://localhost:8082/">rkulig.pl</a>

    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>